
.open-sans-inter{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.open-sans-raleway{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.navpart{
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin: 0;
}


.nav-title{
    font-weight: bold;
    font-size: 34px;
    color: #4E47FF;

}
.btn-dessign{
    font-size: 16px;
    font-weight: bold;
    box-shadow: none;
    border: none;
    padding: 24px 60px;
    border-radius: 5px;
    color: white;
    background-color: #4E47FF;

}
.banner{
text-align: center;
font-size: 30px;
padding: 267px 309px;

}
.body-bg{
background-image: url(../Assets/Hero-bg.png);
background-repeat:repeat-x
    
}
.lfside{
    font-weight: bold;
    width: 517px;
    font-size: 42px;
}
.subtitle{
    color: #252432;
    font-size: 24px;
}
.action{
    display: flex;
    justify-content: space-between;
    width: 1140px;
     align-items: center;
}
.action-banner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-sec{
    background-color: #8e8eb9;
    width: 1140px;
    height: 306px;
    text-align: center;
    justify-content:flex;
    /*padding:  50px 142px;*/
    margin: 0 auto;

}
.use-title{
font-size: 38px;
font-weight: bold;
margin-bottom: 40px;
}
.data{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.data-items{
    text-align: center;
    margin: 0 auto;
}
.number{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    margin:0 auto;
}
.data-title{
    font-size: 20px;
    font-weight: lighter;
    margin: 0 auto;
}
.section-title{
    font-size: 42px;
font-weight: bold;
color: #252432;
margin-bottom: 50px;
}
.reviews{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}
.review-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.review {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    text-align: left;
}
.reviewer-info {

   display: flex; 
justify-content: space-between;
   justify-content:left;

}
.stars{
margin-top: 10px;
margin-bottom: 10px;
}
